/*Mobil-fist principle*/


*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img, picture, video{
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr auto;
 
}

.top-logobilde , #bottom-logobilde * {
  height: 100px;;
  width: auto;
  object-fit: contain;  
}

.navigation-line{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.navi-menu{
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.navi-menu *{
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: large;
}

#btn-contact{
  background-color: #e6bd43;
  padding: 10px 20px;
  border: none;
}

.footer-navi {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 20px;
  width: 100%;
  background-color: #252525;

}

#companyrights {
  color: white;
  font-size: 0.8rem;
  padding: 0.5rem;

}

#social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100px;
  list-style-type: none;
}

.headline * {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: #e0d9d9;
}

.headline-article {
  margin-left: 10%;
  margin-right: 10%;
}

.headline article h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.btn-read-more-about {
  display: inline-block;
  text-align: center;
  font-weight: bold;
  padding: 10px 10px;
  background-color: #e6bd43;
  border: none;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.btn-read-more-about a{
  background-color: #e6bd43;
  text-decoration: none;
  color: rgb(0, 0, 0);
  width: 100%;
  height: 100%;
}

#h2-index {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 2rem;
}



/*Desktop version*/
@media screen and (min-width : 768px){
  body {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas: "header"
                          "headline"
                          "article"
                          "services"
                          "footer";

  }

  header {
    grid-area: header;
  }

  .headline {
    grid-area: headline;
  }

  footer {
    grid-area: footer;
  }
}